.button-jumbotron{
  border-radius: 15px;
  width: 250px;
  text-align: center;
  padding: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffffff;
  height: 40px;
  color: #428DE5;
  font-weight: 700;
}

.button-jumbotron:active {
  background-color: #9c9c9c;
  box-shadow: 0 2px #ffffff;
  color: #ffffff;
  transform: translateY(4px);
}