.pic-info{
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
}

.pic-box{
  border: none;
}

.button-selector{
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #d3d3d3;
  height: 40px;
  color: dark;
  font-weight: 700;
}

.button-selector:active {
  background-color: #b1b1b1;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}