.pic-info{
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
}

.pic-box{
  border: none;
}

.button-selector{
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #d5e5ec;
  color: dark;
  
}
.button-sty{
  height: 40px;
  border: none;
  background-color: #d5e5ec;
  font-weight: 700;
}

.button-selector:active {
  background-color: #d5e5ec;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}