
.padre{
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenido{
  width: 70%;
  background: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(8px);
  border-radius: 20px;
  display: flex;
  padding: 40px;
  
}

.mapa{
  width: 50%;
  display: flex;
}

.mapaa{
  width: 100%;
  border-radius: 10px;
}

.divs{
  width: 50%;
  padding: 0 40px 5px 40px;
  
}

.direction{
  width: 100%;
}

.piso{
  width: 100%;
  margin: 10px 0 10px 0;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;

}

.datos-form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.datos{
  width: 100%;
 
 
}

.data{
  width: 100%;
  margin: 10px 0 10px 0;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
 
}

.box-buttom{
  display: flex;
  justify-content: right;  
}

.send-buttom{
  border-radius: 10px;
  border: none;
  padding: 5px 10px 5px 10px;
  cursor: pointer;

}


@media only screen and (max-width: 980px) {
  .contenido{
    width: 90%;
    display: block;
    padding: 40px;
  }

  .mapa{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }

  .divs{
    width: 100%;
    padding: 0 0 5px 0px;
  }

  
}

@media only screen and (max-width: 580px) {
  .contenido{
    width: 96%;
    display: block;
    padding: 15px;
  }

  .mapa{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }

  .divs{
    width: 100%;
    padding: 0 0 5px 0px;
  }

  h3{
    font-size: 1.2rem;
  }
}